    <!-- Services Details Section -->
    <section class="commonSection service_detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                    <div class="serviceArea">
                        <img src="/images/services/app_dev_feature-100.jpg" alt="app development"/>
                        <h3>Build something that your users will love</h3>
                        <p>
                            ROI-focused developments, result-driven growth strategies, and remarkable app-creation solutions have grounded Dice Media Group as an app-innovation pioneer in today's market.  With an eye for potential and a vision for sustainable growth, our in-house app development specialists, in collaboration with talented designers, help clients to create, launch, and brand mobile apps that target audiences will love and enjoy using.  Experience is the best teacher, of which there's no shortage of at Dice Media Group whose team has decades of combined experience in fields ranging from app development to branding and marketing.  Stellar service is our reputation; awe-inspiring results are our service.  Want your vision and app concept to receive the time and attention it deserves?  If so, contact us today to get started, we’ll bring your idea to life sooner than you’d expect and at equally-impressive, budget-friendly rates.
                        </p>
                        <div class="row gaping">
                            <div class="col-lg-6 col-sm-12 col-md-6">
                                <img src="/images/services/app_dev_square-100.jpg" alt="app development"/>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-md-6">
                                <h3>an app that matters</h3>
                                <p>Dice Media Group brings your digital product ideas to life. Here's our process:</p>
                                <ul>
                                    <li><i class="fa fa-check-square"></i>Contacting us.</li>
                                    <li><i class="fa fa-check-square"></i>Scheduling a call.</li>
                                    <li><i class="fa fa-check-square"></i>Package review and plan selection.</li>
                                    <li><i class="fa fa-check-square"></i>Concept-creation stage and review.</li>
                                    <li><i class="fa fa-check-square"></i>Build and design.</li>
                                    <li><i class="fa fa-check-square"></i>Deployment and testing.</li>
                                    <li><i class="fa fa-check-square"></i>Monitoring and growth services.</li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Our expertly-matched talent means clients have access to our team of software developers, designers, product specialists, and project managers.  Our globally-based network of talented developers enables us to develop apps fitting the precise needs of businesses and their processes. 
                        </p>
                        <p>
                            Dice Media Group's mobile app development services deliver custom and unique mobile experiences for wearables, augmented reality products, and mobile devices.  Clients work with us in order to augment their development team for web and app development, API integration, and many other development-related projects.                   
                        </p>
                        <p>
                            Successful products solve a need for their users. In order to fully understand the problem we are solving for we conduct research and usability tests. These help us make sure that we are building the right set of features for the product and not wasting time on unnecessary features. 
                        </p>
                        <h4>Android - App Development</h4>
                        <p>
                            The Android operating system has limitless opportunities yet poses unique challenges impartially due to the proliferation of hardware.  Dice Media Group senior developers, thanks to years of experience, have the ability to minimize these hurdles while supporting app development regardless of what development stage your application is in, and we'll help it to attain respectable SERP placements too.
                        </p>

                        <h4>iOS App Development</h4>
                        <p>
                            With an iOS-compatible application you will be able to reach users across three main devices; Apple Watch, iPad, and iPhone, each of which offers you unique potential to grow and excel, user-base and profitability/ROI wise.  The Dice Media Group devs have worked on countless iOS-purposed applications in genres spanning from games and technology to business and finances.
                        </p>

                    </div>
                </div>
                <%= render 'nav_sidebar' %>
            </div>
        </div>
    </section>
    <!-- Services Details Section -->
    <%= render 'shared/ready_section' %>
