        <!-- Services Details Section -->
        <section class="commonSection service_detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-8">
                        <div class="serviceArea">
                            <img src="/images/services/app_dev_feature-100.jpg" alt="app development"/>
                            <h3>Build something that your users will love</h3>
                            <p>
                                We are Dice Media Group. We look to work with hundreds of product teams all over the world, from individual founders who are self-funded, to large multi-national organizations.  All our projects are design-led, starting with post-its and sketching, ending with design implemented as code in the app. We use design sprints and user research to understand our client's problems, validate assumptions about the products, and build products that are user-centered. 
                            </p>
                            <div class="row gaping">
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <img src="/images/services/app_dev_square-100.jpg" alt="app development"/>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <h3>an app that matters</h3>
                                    <p>Dice Media Group brings your digital product ideas to life. Here's our process:</p>
                                    <ul>
                                        <li><i class="fa fa-check-square"></i>Contact</li>
                                        <li><i class="fa fa-check-square"></i>Launch Call</li>
                                        <li><i class="fa fa-check-square"></i>Discover &amp; Plan</li>
                                        <li><i class="fa fa-check-square"></i>Creative: a unique look &amp; feel</li>
                                        <li><i class="fa fa-check-square"></i>Build</li>
                                        <li><i class="fa fa-check-square"></i>Deployment</li>
                                        <li><i class="fa fa-check-square"></i>Monitor</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                All our projects are design-led, starting with post-its and sketching, ending with design implemented as code in the app. We use design sprints and user research to build products that are user-centered. 
                            </p>
                            <p>
                                 We run an implementation of Google Ventures' design sprints. These sprints help our team get a deep understanding of the problems our clients are solving and validate some assumptions about the product. At the end of the design sprint, our clients have a prototype that we use to run interviews with.                    
                            </p>
                            <p>
                                Successful products solve a need for their users. In order to fully understand the problem we are solving for we conduct research and usability tests. These help us make sure that we are building the right set of features for the product and not wasting time on unnecessary features. 
                            </p>
                            <p>
                                Our products solve a problem, are easy to use, and look stunning while doing it. When a brand doesn't exist for the product yet, we help establish the brand.
                            </p>
                            <p>
                                
                            </p>
                        </div>
                    </div>
                    <%= render 'nav_sidebar' %>
                </div>
            </div>
        </section>
        <!-- Services Details Section -->
        <%= render 'shared/ready_section' %>
