        <!-- Services Details Section -->
        <section class="commonSection service_detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-8">
                        <div class="serviceArea">
                            <img src="/images/services/digital_marketing-100.jpg" alt=""/>
                            <h3>Strategic digital marketing to fuel your growth.</h3>
                            <p>
                                As a results-driven agency, we strategize solutions overcoming growth barriers.  Turning start-ups into market leaders is normally a challenging process, but with our years of strategy-creation experience, you can circumvent time-wasting approaches and go straight to what matters most; results, success, and long-term scalable growth. 
                            </p>
                            <div class="row gaping">
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <img src="/images/services/digital_marketing_square-100.jpg" alt=""/>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <h3>planning & strategy</h3>
                                    <p>We offer a range of services to help clients surpass growth goals, including:</p>
                                    <ul>
                                        <li><i class="fa fa-check-square"></i>Search Engine Optimization (SEO).</li>
                                        <li><i class="fa fa-check-square"></i>Amazon store optimization</li>
                                        <li><i class="fa fa-check-square"></i>Conversion-focused and SEO-optimized content.</li>
                                        <li><i class="fa fa-check-square"></i>Conversion rate optimization.</li>
                                        <li><i class="fa fa-check-square"></i>Perfomance-based ads</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                            You might have a website, but it isn’t doing your business much good if it isn’t being picked up by the search engines. To make sure customers find your site online, we can take your online presence to the next level -- your website design, copywriting, keywords, social media presence and more. Working with us, you get the most from your return on marketing investment.
                            </p>
                            <p>
                                Our digital marketing services include consulting and management options for a variety of online marketing tactics, including search engine optimization (SEO), pay-per-click (PPC) ads, Amazon store optimization, copywriting, conversion rate optimization (CRO), and more. We also offer expert web design and development services for both eCommerce and B2B companies. Don’t just partner with any digital marketing agency; work with a company you can trust.
                            </p>

                        </div>
                    </div>
                    <%= render 'nav_sidebar' %>
                </div>
            </div>
        </section>
        <!-- Services Details Section -->
        <%= render 'shared/ready_section' %>
