        <!-- Services Details Section -->
        <section class="commonSection service_detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-8">
                        <div class="serviceArea">
                            <img src="/images/services/seo_feature-100.jpg" alt=""/>
                            <h3>Engage your audience SEO and Content</h3>
                            <p>
                                Content is king; a popular quote in the SEO community that holds truer today than ever before.  Dice Media Group’s content marketing and SEO service is a quality and performance-driven solution for webmasters and business owners needing to increase organic rankings and compel visitor actions.  Being a no-obligation, contract-free service, you have all to gain while assuming no long-term risk or commitment; digital marketing the way it was meant to be.
                            </p>
                            <div class="row gaping">
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <img src="/images/services/seo_square-100.jpg" alt="seo"/>
                                    <!-- https://www.twenty20.com/photos/460cdee3-9791-45db-a9b8-b669eb97d84f/?utm_t20_channel=bl -->
                                </div>
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <h3>Plan Benefits</h3>
                                    <p>SEO and content, when collaborated strategically, delivers mind-blowing results, it will:</p>
                                    <ul>
                                        <li><i class="fa fa-check-square"></i>Acquire new visitors, retain reader interest, and compel on-site actions and purchases.
</li>
                                        <li><i class="fa fa-check-square"></i>Allow you to control the message and experience of visitors.</li>
                                        <li><i class="fa fa-check-square"></i>Enable you to become an authority as readers and search engines love quality content.</li>
                                        <li><i class="fa fa-check-square"></i>Increase your brand’s visibility and enhance search engine positions.</li>
                                        <li><i class="fa fa-check-square"></i>Improve your market reach as readers love to share quality content online.</li>
                                    </ul>
                                </div>
                            </div>
                            <h4>SEO – Search Engine Optimization</h4>

                            <p>
                                SEO, or Search Engine Optimization, is the process of increasing the amount of organic traffic a website receives.  Most internet users begin their journey online by searching for a solution - and that solution is a need.  People use the internet for one thing; to fulfill their need for information, whether that is a search for a local business or a query for products or services.  SEO allows you to reach these users more effectively, it's what enables your brand and website to show up for searches relevant to your offerings.  This way, you can generate revenue by delivering the solutions users are already searching for; the very reason organically-sourced traffic converts so well.
                                At Dice Media Group, our team uses current and trusted methods and the best digital practices to increase traffic and rankings for clients.  But that's not all; our SEO specialists help users to rank for vetted and long-tail search phrases that drive laser-targeted, buyer-hungry traffic.  There are over 60,000 searches performed on Google each second, allow us to get your website in front of more consumers and experience explosive growth most only dream of.
                            </p>

                            <h4>Content Marketing</h4>
                            <p>

                                Traditional marketing is becoming less effective by the day; as a forward-thinking visionary, you know there must be a better way.  Content marketing is a strategic marketing approach that focuses on the creation and distribution of valuable, consistent, and relevant content in order to attract and retain a targeted, well-defined audience, and ultimately, to entice profitable customer actions.
                            </p>
                            <p>
                                Rather than pitching your service or products directly, you instead provide truly relevant and insightfully-useful content to potential customers that help them to solve a problem.  Content marketing is helpful for increasing sales, reducing client acquisition costs, and improving customer loyalty.

                            </p>
                            <p>
                                But that’s not all; sites that publish quality content consistently are rewarded by Google with better rankings and as a result can leverage the high-rate conversions of organic traffic to their benefit.  
                            </p>
                            <p>
                                Dice Media Group understands the art of content marketing better than any other; our team of SEO-savvy writers has decades of combined content marketing experience which is leveraged to deliver clients impeccable, rank-worthy, Google-loving content that once ranked will deliver seas of buyer-hungry traffic month after month.

                            </p>
                        </div>
                    </div>
                    <%= render 'nav_sidebar' %>
                </div>
            </div>
        </section>
        <!-- Services Details Section -->
        <%= render 'shared/ready_section' %>
