        <!-- Services Details Section -->
        <section class="commonSection service_detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-8">
                        <div class="serviceArea">
                            <img src="/images/services/seo_feature-100.jpg" alt=""/>
                            <h3>Engage your audience SEO and Content</h3>
                            <p>
                                Dice Media Group's SEO and content marketing service is a performance-based. While no strategy can guarantee specific rankings, we will waive our service fees if your campaign is not growing every month. We do not require a time-based contract. With no long-term commitment and a best-in-class SEO performance guarantee, we remove risk for you.
                            </p>
                            <div class="row gaping">
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <img src="/images/services/seo_square-100.jpg" alt="seo"/>
                                    <!-- https://www.twenty20.com/photos/460cdee3-9791-45db-a9b8-b669eb97d84f/?utm_t20_channel=bl -->
                                </div>
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <h3>Plan Benefits</h3>
                                    <p>SEO and content marketing can be a great way to get attention online.</p>
                                    <ul>
                                        <li><i class="fa fa-check-square"></i>Content feels more genuine than paid.</li>
                                        <li><i class="fa fa-check-square"></i>You own the experience.</li>
                                        <li><i class="fa fa-check-square"></i>Customers love truly useful information.</li>
                                        <li><i class="fa fa-check-square"></i>Customers seek you out.</li>
                                        <li><i class="fa fa-check-square"></i>Content encourages word of mouth.</li>
                                    </ul>
                                </div>
                            </div>
                            </p>
                                <strong>SEO</strong> stands for search engine optimization, which is the process of optimizing your website to get organic, or un-paid, traffic from a search engine results page.  Put another way, SEO involves making certain changes to your website design and content that make your site more attractive to a search engine. You do this for better ranking, in hopes that the search engine will display your website as a top result on the search engine results page.  Though search engine optimization can become complex, when it comes to all the different factors that impact your ranking, the basic process is not difficult to understand. 
                            </p>
                            <p>
                                <strong>Content Marketing</strong> is different than traditional product marketing efforts like sales collateral and other product-specific info. Content marketing includes things like educational articles, e-books, videos, entertainment, and webinars that answer specific questions people have and provide them with something they can’t get somewhere else. It’s the best way to turn your product, no matter how common, into something that is not like everyone else’s.  It enables your business to become a known, credible, and authoritative resource on topics that matter to potential customers.
                            </p>
                        </div>
                    </div>
                    <%= render 'nav_sidebar' %>
                </div>
            </div>
        </section>
        <!-- Services Details Section -->
        <%= render 'shared/ready_section' %>
