        <!-- Services Details Section -->
        <section class="commonSection service_detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-8">
                        <div class="serviceArea">
                            <img src="/images/services/web_development-100.jpg" alt=""/>
                            <h2>Engage your audience</h2>
                            <p>
                                You see a vision for your business. We help you realize it. We are a online marketing firm that offers easy and fast  solutions to bring out full sales potential of your target market. 
                            </p>
                            <div class="row gaping">
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <img src="/images/services/web_developer_square-100.jpg" alt=""/>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <h3>What Our Process Yields</h3>
                                    <p>We work hard to create a functional and thoughtful development process so that you end up with an effective user experience.</p>
                                    <ul>
                                        <li><i class="fa fa-check-square"></i>Built for the long haul, and flexibly managed by YOU.</li>    
                                        <li><i class="fa fa-check-square"></i>Maintenance and Security - Sleep tight, we got you</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                Our designers each bring a broad skillset and their own aesthetic to suit your style. For us, attention to functionality and user experience is as acute as creative talent. We craft designs that are not only eye catching, but are thoughtfully constructed to create a pleasant and straightforward user experience.
                            </p>
                            <p>
                                We offer website development based on Ruby on Rails, Shopify and other Content Management System platforms, which gives our clients maximum control over their site. Gone are days of needing your developer for content updates and minor adjustments—our goal is to empower each client to maintain and expand their own site as business evolves. We take time and care to customize each site to your needs. One-on-one instruction and training manuals are included in each website package to ensure that your content updates will be easy and efficient for anyone on your team to manage.
                            </p>
                        </div>
                    </div>
                    <%= render 'nav_sidebar' %>
                </div>
            </div>
        </section>
        <!-- Services Details Section -->
        <%= render 'shared/ready_section' %>
