        <!-- Services Details Section -->
        <section class="commonSection service_detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-8">
                        <div class="serviceArea">
                            <img src="/images/services/web_development-100.jpg" alt=""/>
                            <h2>Engage your audience</h2>
                            <p>
                                You have a vision; we have the creative talent to bring it to life.  As a marketing agency by day and a creative-lab powerhouse by night, our clients enjoy going from concept to development in time frames not taking weeks or months.
                            </p>
                            <div class="row gaping">
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <img src="/images/services/web_developer_square-100.jpg" alt=""/>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <h3>What Our Process Yields</h3>

                                    <p>Success requires tireless effort, which we do during development so clients don’t have to.  With a Dice Media Group-designed property, you will have a website built to be:</p>
                                    <ul>
                                        <li><i class="fa fa-check-square"></i>Search-engine friendly with long-term ranking potential.</li>    
                                        <li><i class="fa fa-check-square"></i>User and conversion-friendly to achieve maximum sales.</li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                From concept creation to design, from strategic planning to implementation, with Dice Media Group, your website is in the hands of developers whose creativity knows no limits.
                            </p>
                            <p>
                                Our creative-minded designers create sites purposed to bring clients the results and industry recognition they deserve.  With Dice Media Group on your side, your project will be developed and overseen by skillfully-talented designers that create eye-catching and conversion-focused sites aimed to achieve two things; captivate visitor interest and secure conversions.
                            </p>
                        </div>
                    </div>
                    <%= render 'nav_sidebar' %>
                </div>
            </div>
        </section>
        <!-- Services Details Section -->
        <%= render 'shared/ready_section' %>
