<!-- FunFact Section -->
<section class="commonSection funfact">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-3 noPadding BR">
                <div class="singlefunfact text-center">
                    <h1 data-counter="8705" class="timer"><span class="countSpan">8</span>705</h1>
                    <h3>Projects Completed</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3 noPadding BR">
                <div class="singlefunfact text-center">
                    <h1 data-counter="480" class="timer"><span class="countSpan"></span>480</h1>
                    <h3>Active Clients</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3 noPadding BR">
                <div class="singlefunfact text-center">
                    <h1 data-counter="626" class="timer"><span class="countSpan"></span>626</h1>
                    <h3>Cups of Coffee</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3 noPadding">
                <div class="singlefunfact text-center">
                    <h1 data-counter="9774" class="timer"><span class="countSpan">9</span>774</h1>
                    <h3>Happy Clients</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FunFact Section -->
