<!-- Page Banner -->
<section class="pageBanner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner_content text-center">
                    <h4><a href="/contact">Contact</a> - Services</h4>
                    <h2>We help you sell</h2>
                    <p class="frosted-glass">
                    Collaborating with Dice Media Group is like oiling the hinge on the door to success.  From web development to marketing to SEO and content, we do it all and offer it all.
Choose a service below to get started, the only regret you will have is not finding us sooner.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Banner -->
