.website-logo-1 {
  background: white;
  background-image: url("/assets/Dice-5-b.svg");
}

.website-logo-2 {
  background: white;
  background-image: url("/assets/Dice-5-b.svg");
}

.website-logo-3 {
  background: white;
  background-image: url("/assets/Dice-5-b.svg");
}

.website-logo-4 {
  background: white;
  background-image: url("/assets/Dice-5-b.svg");
}

.website-logo-5 {
  background: white;
  background-image: url("/assets/Dice-5-b.svg");
}

.website-logo-6 {
  background: white;
  background-image: url("/assets/Dice-5-b.svg");
}

.logo a {
  color: transparent;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  border-radius: 5px;
}

.logo a:hover {
  color: transparent;
}
