        <!-- Agency Section -->
        <section class="commonSection">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <h4 class="sub_title">get to know us</h4>
                        <h2 class="sec_title">connect &amp; engage with your key audiences</h2>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="agency_img1">
                            <img src="images/about/1.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="agency_img2">
                            <img src="images/about/2.jpg" alt=""/>
                        </div>
                        <div class="compay_date">
                            <h5>established</h5>
                            <h2>2009</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Agency Section -->
