<!-- Footer Section -->
<footer class="footer_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6 col-md-5">
                <aside class="widget aboutwidget">
                        <%= render 'shared/website_logo.html.erb' %>
                    <p>
                        Welcome to Dice Media Group.  We help your organization get noticed and sell more.
                    </p>
                </aside>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4">
                <aside class="widget contact_widgets">
                    <h3 class="widget_title">contact</h3>
                    <p>
                        Salt Lake City UT<br>
                        United States of America
                    </p>
                    <p>P: <a href="tel:1-801-499-4594">1-801-499-4594</a></p>
                    <p>E: <a href="mailto:info@dicemediagroup.com?subject=Here%20to%20help">info@dicemediagroup.com</a></p>
                </aside>
            </div>
            <div class="col-lg-3 col-sm-2 col-md-3">
                <aside class="widget social_widget">
                    <h3 class="widget_title">social</h3>
                    <ul>
                        <li><a href="https://twitter.com/dicemediagroup"><i class="fab fa-twitter"></i>Twitter</a></li>
                        <li><a href="https://www.facebook.com/dicemediagroup"><i class="fab fa-facebook-square"></i>Facebook</a></li>
                        <li><a href="https://www.youtube.com/channel/UC8i85tYvFBJ2dUiXR-iqQ-A/"><i class="fab fa-youtube"></i>Youtube</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="copyright">
                    &copy; copyright 2019 by <a href="www.dicemediagroup.com">Dice Media Group</a>
                </div>
                <div class="copyright">
                    website layout by <a href="#">Layerdrops.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section -->
