<!-- Ready Section -->
<section class="commonSection ready">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-8 col-md-9">
                <h2 class="sec_title white">Let's Get Your Project Started!</h2>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-3 text-right">
                <a class="common_btn" href="contact.html"><span>Contact with us</span></a>
            </div>
        </div>
    </div>
</section>
<!-- Ready Section -->
