        <!-- Services Section -->
        <section class="service_section_2 commonSection">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-md-4">
                        <div class="icon_box_2 text-center">
                            <h3>Modren Design</h3>
                            <p>
                                Phaseus sit amet tristique lorem ipsum is simply free text ligua donec culis leo sus cipit.
                            </p>
                            <div class="iconWrap">
                                <i class="mei-settings"></i>
                            </div>
                            <a href="service_detail.html">discover more</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-4">
                        <div class="icon_box_2 text-center">
                            <h3>Digital products</h3>
                            <p>
                                Phaseus sit amet tristique lorem ipsum is simply free text ligua donec culis leo sus cipit.
                            </p>
                            <div class="iconWrap">
                                <i class="mei-pie-chart"></i>
                            </div>
                            <a href="service_detail.html">discover more</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-4">
                        <div class="icon_box_2 text-center">
                            <h3>Marketing Strategy</h3>
                            <p>
                                Phaseus sit amet tristique lorem ipsum is simply free text ligua donec culis leo sus cipit.
                            </p>
                            <div class="iconWrap">
                                <i class="mei-transfer"></i>
                            </div>
                            <a href="service_detail.html">discover more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Section -->