<!-- Subscribe Section -->
<section class="commonSection subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-5 col-md-4">
                <h4 class="sub_title">don’t miss out our latest updates</h4>
                <h2 class="sec_title">Subscribe us</h2>
            </div>
            <div class="col-lg-8 col-sm-7 col-md-8">
                <form action="" method="post" class="subscribefrom">
                    <input type="email" placeholder="Enter your email" name="email">
                    <button class="common_btn red_bg" type="submit" name="submit"><span>Subscribe now</span></button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Subscribe Section -->
