
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-md-4">
                        <div class="icon_box_2 text-center">
                            <h3>The Dice Media Difference</h3>
                            <p>
                                Dice Media Group is a full-service marketing agency specializing in SEO and digital marketing. Setting us apart from the rest, our suite of services also includes website development, content writing, and app development services.
                            </p>
                            <div class="iconWrap">
                                <i class="mei-settings"></i>
                            </div>
                            <a href="service_detail.html">discover more</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-4">
                        <div class="icon_box_2 text-center">
                            <h3>Innovative Digital Marketing</h3>
                            <p>
                                Our result-driven team creates marketing strategies unique to client projects and goals. Websites we develop or optimize are overseen by field-specific experts whose goals are to bring clients traffic, conversions, and continued growth. Combined with SEO, keyword research, and stellar content that will compel reader actions, our clients enjoy the fruits of effective digital marketing while we oversee the hard-work steps that make such success possible.
                            </p>
                            <div class="iconWrap">
                                <i class="mei-pie-chart"></i>
                            </div>
                            <a href="service_detail.html">discover more</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-4">
                        <div class="icon_box_2 text-center">
                            <h3>Our Philosophy</h3>
                            <p>
                                We believe meaningful partnerships start with offering true-value service.  Dice Media thrives on the success of clients as it allows us to foster meaningful, long-lasting client relations; we treat the ideas and businesses of clients as our own. A marketing agency by day and creative lab by night; Dice Media Group gives wings to your ideas and creates beautiful websites geared for sales, rankings, and results.
                            </p>
                            <div class="iconWrap">
                                <i class="mei-transfer"></i>
                            </div>
                            <a href="service_detail.html">discover more</a>
                        </div>
                    </div>
                </div><div class="row">
                    <div class="col-lg-4 col-sm-6 col-md-4">
                        <div class="icon_box_2 text-center">
                            <h3>Design & Optimization</h3>
                            <p>
                                From concept creation to design, from optimization to publishing, no detail is overlooked. At Dice Media Group, clients receive well-designed sites featuring content readers will love to read. Plus, our thoughtfully-designed E-com stores produce above-average conversions thanks to strategic on-site product placement and ‘call to actions’ that compel visitor purchases.  Combined with performance-based SEO, our clients can see results not taking months or years to achieve.
                            </p>
                            <div class="iconWrap">
                                <i class="mei-settings"></i>
                            </div>
                            <a href="service_detail.html">discover more</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-4">
                        <div class="icon_box_2 text-center">
                            <h3>SEO & Marketing</h3>
                            <p>
                                Our personalized, Google-compliant SEO service delivers long term ranking potential for sustainable organic rankings. Unlike competing solutions that use unsafe link-building protocols, which violate Google’s TOS and can lead to site penalties; we only build ethically-sourced links from safe, high-authority sources that Google loves. Long-term, digital marketing success relies on a strong search engine presence, which is why our ranking approach uses the safest methods.
                            </p>
                            <div class="iconWrap">
                                <i class="mei-pie-chart"></i>
                            </div>
                            <a href="service_detail.html">discover more</a>
                        </div>
                    </div>
                </div>
            
<%= render 'shared/agency_section' %>